<div>
    <div class="bg"></div>
    <div class="content">
        <img class="titleimg" src="title.png" alt="title"/>
        <p class="title">Esports Manager</p>
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search Teams or Players...">
        <div class="searchcontent">
            @for (t of filteredTeams; track $index) {
                <app-teamcard [team]="t" (click)="teamClick(t.id)" class="player"></app-teamcard>
            }
            
            @for (pl of filteredPlayers; track $index) {
                <app-playercard [player]="pl" (click)="playerClick(pl.id)" class="player"></app-playercard>
            }
        </div>
    </div>
</div>