@import url('https://fonts.googleapis.com/css2?family=Content&display=swap');

.teambg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: auto;
    z-index: -1;
    opacity: 20%;
}

.content {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: visible;
    scrollbar-width: none;
}

.avatar {
    position: relative;
    width: 440px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    position: absolute;
    transition: all 0.3s ease;
}

.portraitimg {
    width: 74%;
    z-index: 1;
}

.avatarimg {
    width: 220px;
    z-index: 2;
    bottom: 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

label {
    font-size: 48px;
    font-family: 'Content', sans-serif;
    font-weight: bold;
    color: white;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: lighter;
    font-family: 'Content', sans-serif;
    color: rgb(183, 183, 183);
}

.names {
    width: 620px;
    display: flex;
    justify-content: space-between;
}

.names div {
    display: flex;
    flex-direction: column;
}

.games {
    width: 580px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 100px;
}

.rolepng {
    width: 88px;
    height: 88px;
    margin: 25px -50px 0 0;
}

.games div {
    display: flex;
    flex-direction: column;
}

.games select {
    // Remove dropdown arrow and replace with new one
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="black" d="M0 0l5 6 5-6z"/></svg>'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;

    width: 322px;
    padding: 10px 0 10px 20px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 8px;
    background-color: rgb(45, 45, 45);
    color: rgb(178, 178, 179);
  }

  .games select option {
    width: 322px;
    padding: 10px;
  }

.games input {
    width: 300px;
    padding: 10px 0 10px 20px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 8px;
    background-color: rgb(45, 45, 45);
    color: rgb(178, 178, 179);
}

.games input::placeholder {
    color: rgb(179, 179, 179);
    font-style: italic;
}

.selectedTeam {
    margin: 25px 0 0 -50px;
}